@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
:root{
  /*--pri-color: rgb(66, 6, 145);*/
  --pri-color: #0525b4;
  --pale-color: #f2f2f2;
  --sec-color: #860aac;
  --sec2-color: #0525b4;
  --success-color: #05c02e;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
::selection{
  color: #fff;
  background: var(--pri-color);
}
body{
  width: 100%;
  height: 100vh;
  /* overflow: hidden; */
  padding: 10px;
  background: linear-gradient(90deg, var(--sec-color), var(--sec2-color));
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper{
  max-width: 400px;
  width: 100%;
}
.wrap-in{
  width: 100%;
  background: #fff;
  padding: 15px 10px;
  margin: 1rem 0;
  border-radius: 6px;
  box-shadow: 0px 0 3px rgba(0,0,0,0.3);
}
header{
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
.inputField{
  margin: 20px 0 0;
  width: 100%;
  display: flex;
  height: 45px;
}
.inputField input{
  width: 85%;
  height: 100%;
  outline: none;
  border-radius: 6px;
  border: 1px solid var(--pale-color);
  background: #fff;
  font-size: 17px;
  padding-left: 15px;
  transition: all 0.3s ease;
}
.inputField input:focus{
  border-color: var(--pri-color);
}
.inputField button{
  width: 50px;
  height: 100%;
  border: none;
  color: #000;
  margin-left: 5px;
  font-size: 21px;
  outline: none;
  background: var(--pale-color);
  cursor: pointer;
  border-radius: 6px;
  opacity: 1;
  user-select: none;
  pointer-events: none;
  transition: all 0.3s ease;
}
.inputField button:hover,
.footer button:hover{
  background: var(--pale-color);
}
.inputField button.active{
  color: #fff;
  background: var(--pri-color);
  pointer-events: auto;
}
.todoList{
  max-height: 250px;
  overflow-y: auto;
}
.todoList li{
  list-style: none;
  margin: 5px 0;
  padding: 5px 7px;
  background: #f2f2f2;
  border-radius: 6px;
  cursor: default;
  overflow: hidden;
  word-wrap: break-word;
  display: flex;
  align-items: center;
}
.todoList li .item{
  padding: 5px;
  width: calc(100% - 2.3rem);
}
.todoList li .icon{
  /*background: #dd1c06;*/
  background: var(--sec-color);
  width: 2.3rem;
  height: 2.3rem;
  text-align: center;
  font-size: 14px;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease;
}
.todoList li:hover .icon{
  right: 0px;
}

.icon.animate{
  animation-name: animate;
  animation-duration: 5s;
  animation-iteration-count: 1;
}

@keyframes animate {
  0%{
    border-top: 2px solid #fff;    
    border-bottom: 2px solid var(--success-color);    
    border-left: 2px solid #fff;    
    border-right: 2px solid #fff;
    font-size: 16px;
    background: #fff;
    color: var(--success-color);
  }
  25%{
    border-top: 2px solid #fff;    
    border-bottom: 2px solid var(--success-color);    
    border-left: 2px solid #fff;    
    border-right: 2px solid var(--success-color);
    font-size: 17px;
    background: #fff;
    color: var(--success-color);
  }
  50%{
    border-top: 2px solid var(--success-color);    
    border-bottom: 2px solid var(--success-color);    
    border-left: 2px solid #fff;    
    border-right: 2px solid var(--success-color);
    font-size: 18px;
    background: #fff;
    color: var(--success-color);
  }
  75%{
    border-top: 2px solid var(--sucess-color);    
    border-bottom: 2px solid var(--success-color);    
    border-left: 2px solid var(--success-color);    
    border-right: 2px solid var(--success-color);
    font-size: 16px;
    background: var(--success-color);
    color: #fff;
  }
  100%{
    border-top: 2px solid var(--sucess-color);    
    border-bottom: 2px solid var(--success-color);    
    border-left: 2px solid var(--success-color);    
    border-right: 2px solid var(--success-color);
    font-size: 16px;
    background: var(--success-color);
    color: #fff;
  }
}

.footer{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.footer button{
  padding: 6px 10px;
  border-radius: 6px;
  border: none;
  outline: none;
  color: #000;
  font-weight: 400;
  font-size: 14px;
  margin-left: 5px;
  background: var(--pale-color);
  cursor: pointer;
  user-select: none;
  opacity: 1;
  pointer-events: none;
  transition: all 0.3s ease;
}
.footer button:hover{
  background: var(--pale-color);
}
.footer button.active{
  background: var(--pri-color);
  color: #fff;
  pointer-events: auto;
}

i{
  padding: 0 3px;
}
